/FacebookLogin/FacebookLogin/obj
/FacebookLogin/FacebookLogin/bin
/FacebookLogin/FacebookLogin.Android/obj
/FacebookLogin/FacebookLogin.Android/bin
/FacebookLogin/FacebookLogin.iOS/obj
/FacebookLogin/FacebookLogin.iOS/bin
/.vs
